.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App-link {
  color: #61dafb;
}

.containerup {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.singleComment {
  margin: 10px 0;
  padding: 0 7px;
}

.btn {
  flex-basis: auto;
  width: 200px;
  height: 20px;
  margin: 30px;
  background-color: crimson;
  color: white;
  border: solid 1px black;
  border-radius: 8px;
}