.App {
  text-align: center;

}


.App-link {
  color: #61dafb;
}

.containerup {
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.singleComment {
  margin: 10px 0;
  padding: 0 7px;
}